<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{name}") %>
    <% end %>
    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
          <%= image_tag "logo.svg" %>
        <% end %>
      </div>
      <ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>
        <li>About</li>
      </ul>
      <ul>
        <li class="category">Social</li>
        <li><a href="https://twitter.com/KChivorn">Twitter</a></li>
        <li><a href="https://github.com/kchivorn">Github</a></li>
        <li><a href="https://facebook.com/KuochChivorn">Facebook</a></li>
        <li><a href="mailto:kouch.chivorn@gmail.com">Email</a></li>
      </ul>
      <div class="sign_in">Admin Login</div>
    </div>
    <div id="main_content">
      <div id="header">
        <p>All Posts</p>
        <div class="buttons">
          <button class="button"><%= link_to "New Post", new_post_path %></button>
          <button class="button">Log Out</button>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
